# cat with beautiful colors. requires Pygments installed.
#      sudo easy_install Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# File size
alias fs="stat -f \"%z bytes\""

## Colorize the ls output ##
alias ls='ls --color=auto'
alias ll='ls -alF'
alias \+='pushd .'
alias -- -='popd'
alias ..='cd ..'
alias jpp='python -mjson.tool | pygmentize -l json'

## dcu == Docker-Compose Up
alias dcu='docker-compose up -d --remove-orphans'

## dcl == Docker-Compose Logs
alias dcl='docker-compose logs'

## dcs == Docker-Compose Stop
alias dcs='docker-compose stop'

## dcp == Docker-Compose process status
alias dcp='docker-compose ps'
alias myip="ifconfig | sed -En 's/127.0.0.1//;s/.*inet (addr:)?(([0-9]*\.){3}[0-9]*).*/\2/p'"
