# Remove duplicate entries from the history
export HISTCONTROL=ignoreboth:erasedups

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Show colors when using ls
export CLICOLOR=TRUE

export VPC_KEY_PATH=~/.ssh/
