# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Do not store the plugin in our own repo
.vim/plugged/

# Ignore the local theme config and backup file for kitty
.config/kitty/current-theme.conf
.config/kitty/kitty.conf.bak