[color]
	ui = auto
[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[user]
  name = Hanno Wiegard
  email = hwiegard@gmail.com
[core]
	autocrlf = input
[push]
	default = simple
